{% if messages %}

    <div class="toast toast-bottom sm:toast-top toast-end w-52 sm:w-64 text-xs sm:text-sm">
        {% for message in messages %}

            {% if message.tags == "success" %}
                <div class="alert alert-success flex text-wrap justify-start">
                    <span class="">{{ message }}</span>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-error">
                    <span>{{ message }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endif %}