{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86">
    <meta name="description" content="Site de pari entre ami pour l'euro 2024 de football. Website to bet on football euro games.">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="icon" type="image/png" href="{% static 'mgp-Kittl.svg' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/@alpinejs/ui@3.14.1-beta.0/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/focus@3.14.1/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.14.1/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body class="bg-base-100">
<header>
    <div class="flex flex-col mx-auto max-w-3x lg:max-w-4xl xl:max-w-6xl">
        {#    Title Bar  #}
        <div class="flex justify-between items-center">
            <div class="flex">
                <a class="gap-1 flex items-center" href="{% url 'index' %}">
                    <div class="">
                        <div class="w-16 md:w-20 m-1">
                            <img alt="logo" src="{% static 'mgp-Kittl.svg' %}" />
                        </div>
                    </div>
                    <span class="flex font-bold text-base md:text-xl">Mon GROS prono</span>
                </a>
            </div>
            <div class="flex mr-2 ">
                {% if user.is_authenticated %}
                    <div x-data x-popover class="relative ml-2">
                        <button x-popover:button class="btn btn-sm btn-circle btn-active" aria-label="utilisateur">
                            <i class="fa-regular fa-user"></i>
                        </button>
                        <div x-popover:panel
                             x-cloak
                             x-transition.origin.top.right
                             class="absolute right-0 top-8 mt-2 w-52 bg-white rounded-md shadow-2xl z-10">
                            <ul class="menu">
                                <li class="p-2 underline mb-2">
                                    {{ user.email }}
                                </li>
                                <li><a><i class="fa-solid fa-user-pen"></i>Mon profil</a></li>
                                <form method="post" action="{% url 'logout' %}">
                                    <li>
                                        {% csrf_token %}
                                        <button type="submit" aria-label="se déconnecter">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            Déconnexion
                                        </button>
                                        <input type="hidden" name="next" value="{% url 'index'%}">
                                    </li>
                                </form>
                            </ul>

                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-sm btn-circle btn-outline" aria-label="se connecter">
                        <i class="fa-regular fa-user"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            {#    Navigation bar    #}
            <div x-data x-popover class="relative ml-2">
                <ul class="join">
                    <li x-popover:button class="btn btn-neutral join-item dropdown flex items-center"><i class="fa-solid fa-bars"></i>
                    </li>
                    <div x-popover:panel
                         x-cloak
                         x-transition.origin.top.left
                         class="absolute left-0 top-12 mt-2 w-40 bg-white rounded-md shadow-2xl z-10">
                        <ul class="menu bg-base-100 rounded-box w-60 p-2 shadow">
                            <li>
                                <h2 class="menu-title"><i class="fa-solid fa-gamepad mr-2"></i>Jouer</h2>
                                <ul>
                                    <li><a class="capitalize" href="{% url 'index' %}"><i class="fa-solid fa-ranking-star"></i>Classement</a></li>
                                    <li><a class="capitalize" href="{% url 'bets' %}"><i class="fa-solid fa-gavel"></i>Paris</a></li>
                                    <li><a class="capitalize" href="{% url 'results' %}"><i class="fa-solid fa-square-poll-horizontal"></i>Résultats</a></li>
                                </ul>
                            </li>
                            <li>
                                <h2 class="menu-title"><i class="fa-solid fa-wrench mr-2"></i>Gérer</h2>
                                <ul>
                                    <li><a class="capitalize" href="{% url 'leagues' %}"><i class="fa-solid fa-meteor"></i></i>Mes ligues</a></li>
                                    <li><a class="capitalize" href="{% url 'competitions' %}"><i class="fa-solid fa-trophy"></i>Mes compétitions</a></li>
                                    <li><a class="capitalize" href="{% url 'teams' %}"><i class="fa-solid fa-people-group"></i></i>Mes équipes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% if request.path in '/ /bets /results' %}
                        <li class="btn join-item p-2"><a class="capitalize" href="{% url 'index' %}"><i class="fa-solid fa-ranking-star"></i> Classement</a></li>
                        <li class="btn join-item p-2"><a class="capitalize" href="{% url 'bets' %}"><i class="fa-solid fa-gavel"></i> Paris</a></li>
                        <li class="btn join-item p-2"><a class="capitalize" href="{% url 'results' %}"><i class="fa-solid fa-square-poll-horizontal"></i> Résultats</a></li>
                    {% else %}
                        <li class="btn join-item p-2"><a class="capitalize" href="{% url 'leagues' %}"><i class="fa-solid fa-meteor"></i>
                            <span class="sm:hidden"> Ligues</span>
                            <span class="hidden sm:inline"> Mes Ligues</span></a></li>
                        <li class="btn join-item p-2"><a class="capitalize" href="{% url 'competitions' %}"><i class="fa-solid fa-trophy"></i>
                            <span class="sm:hidden"> Compét'</span>
                            <span class="hidden sm:inline"> Mes Compétitions</span></a></li>
                        <li class="btn join-item p-2"><a class="capitalize" href="{% url 'teams' %}"><i class="fa-solid fa-people-group"></i>
                            <span class="sm:hidden"> équipes</span>
                            <span class="hidden sm:inline"> Mes équipes</span></a></li>

                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</header>
<main class="min-h-screen flex flex-col mx-auto max-w-3xl lg:max-w-4xl xl:max-w-6xl place-content-start">
    {%  block main %}
    {%  endblock main %}
</main>
<footer class="footer items-center p-4 bg-neutral text-neutral-content max-w-3xl mx-auto lg:max-w-4xl xl:max-w-6xl mt-2">
    <aside class="items-center grid-flow-col">
        <div class="">
            <div class="w-16">
                <img alt="logo" src="{% static 'mgp-Kittl.svg' %}" />
            </div>
        </div>
        <div>
            Kenshuri va gagner
        </div>
    </aside>
</footer>
</body>
</html>