{% extends "bet/base.html" %}

{% block title %}
    MGP - Compétitions
{% endblock title %}

{% block main %}
    <div class="flex flex-col p-2 gap-2">
        {#        Create a competition#}
        <div class="flex flex-col gap-1 mt-2">
            <h2 class="text-lg font-semibold">Créer une compétition</h2>
            <form action="{% url 'create_competition' %}" method="get">
                {% csrf_token %}
                <div class="flex flex-grow gap-1">
                    <div class="flex flex-grow form-control w-2/3">
                        <label class="label hidden" for="competition_name"></label>
                        <input type="text" placeholder="Nom de la Compétition" required
                               class="flex flex-grow input input-bordered input-sm sm:input-md"
                               name="competition_name" id="competition_name"/>
                    </div>
                    <button class="flex gap-1 btn btn-sm btn-success sm:btn-md" type="submit">
                        <i class="fa-solid fa-trophy"></i>
                        <span class="hidden sm:flex">Créer</span>
                    </button>
                </div>
            </form>
        </div>

        {#    My created competitions#}
        <div class="flex flex-col gap-1">
            <h2 class="text-lg font-semibold">Mes compétitions créées </h2>
            <div class="flex flex-col">
                <div x-data class="flex flex-col text-sm sm:text-base">
                    {#    Header        #}
                    <div class="p-2 flex font-bold border-b-2">
                        <div class="w-20">
                            <div class="flex flex-row gap-0.5 items-center">
                                <div class="badge badge-secondary badge-sm">
                                    <i class="fa-solid fa-calendar-days"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-grow justify-center">
                            Compétition
                        </div>
                        <div class="w-16 sm:w-24"></div>
                    </div>
                    {% for c in competitions_created %}
                        <div x-disclosure class="p-1 border-b">
                            {#        Competition Summary#}
                            <div x-disclosure:button class="" :class="$disclosure.isOpen && 'bg-base-200'">
                                <div class="flex">
                                    <div class="w-20 p-1 flex flex-col justify-center gap-0.5">
                                        <span class="badge badge-secondary">
                                            {{ c.sn}}
                                        </span>
                                    </div>
                                    <div class="flex flex-grow items-center">{{ c.name }}</div>
                                    <div class="p-1 flex items-center gap-1 sm:flex-row sm:gap-2 ">
                                        <span x-show="$disclosure.isOpen" x-cloak aria-hidden="true" >
                                            <i class="fa-solid fa-chevron-up"></i>
                                        </span>
                                        <span x-show="! $disclosure.isOpen" aria-hidden="true" >
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            {#            Competition details#}
                            <div x-cloak x-disclosure:panel x-collapse class="flex flex-col gap-1 bg-base-200">
                                <div class="flex flex-col flex-grow gap-1 bg-primary-content rounded p-1 mx-1 border border-primary">
                                    <div class="badge badge-primary">
                                        <i class="fa-solid fa-trophy"></i>
                                        <span class="ml-2">Ligues liées</span>
                                    </div>
                                    {% for l in c.lg_competition.all %}
                                        <div class="flex gap-1 items-center">
                                            <span class="badge badge-primary">{{ l.sn }}</span>
                                            <span class="flex flex-grow">{{ l.name }}</span>
                                            <span class="badge badge-neutral"><i class="fa-solid fa-users"></i>{{ l.users.all|length }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {#        Create a game#}
        <div class="flex flex-col gap-1 mt-4">
            <h2 class="text-lg font-semibold">Créer un match</h2>
            <form action="{% url 'create_game' %}" method="get">
                {% csrf_token %}
                <div class="flex flex-grow gap-1">
                    <div class="form-control flex flex-grow">
                        <label class="label hidden" for="id_competition_id">Compétition</label>
                        <select name="competition_id" required id="id_competition_id"
                                class="flex flex-grow select select-bordered select-sm sm:select-md">
                            {% for c in competitions_created %}
                                <option value="{{ c.id }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="flex gap-1 btn btn-sm btn-success sm:btn-md" type="submit">
                        <i class="fa-solid fa-bolt-lightning"></i>
                        <span class="hidden sm:flex">Créer</span>
                    </button>
                </div>
            </form>
        </div>
        {#    My games#}
        <div class="flex flex-col gap-1">
            <h2 class="text-lg font-semibold">Gérer mes matchs </h2>
            {% include 'bet/components/game_table.html' with games=games %}
        </div>

    </div>


    <div id="game_updated_toasts" class="toast toast-end toast-top text-xs sm:text-sm">
        {% if game_created_flag %}
            <div x-cloak x-data="{dismissed: false}" x-show="!dismissed" x-init="setTimeout(() => dismissed=true, 2000)"
                 class="alert {% if game_created_flag == 2 %} alert-success {% elif game_created_flag == 1 %} alert-error {% endif %} flex text-wrap justify-start">
                <span><i class="fa-solid fa-bolt-lightning"></i> {% if game_created_flag == 2 %} Match créé {% elif game_created_flag == 1 %} Erreur lors de la création du match {% endif %} </span>
            </div>
        {% endif %}
    </div>

{% endblock %}