{% extends "bet/base.html" %}

{% block title %}
    MGP - Fais tes paris
{% endblock title %}

{% block main %}
    <h2 class="flex p-2 mt-4  text-lg justify-center sm:justify-start">
        <span class="mx-1 font-bold">{{ league.league__name }}</span>
    </h2>
    {#    Paramètres de la ligue#}
    <div class="flex flex-wrap px-2 gap-2 justify-center sm:justify-start">
        <div class="badge badge-neutral badge-sm">
            Bonus Parfait <span class="ml-2 font-semibold">{{ league.leagues_played__bonus_perfect }} points</span>
        </div>
        {% if league.leagues_played__bonus_stake == 1 %}
            <div class="badge badge-neutral badge-sm">
                Bonus Enjeu <span class="ml-2 font-semibold">Avec</span>
            </div>
        {% else %}
            <div class="badge badge-outline badge-sm">
                Bonus Enjeu <span class="ml-2 font-semibold">Sans</span>
            </div>
        {% endif %}
        {% if league.leagues_played__with_ext %}
            <div class="badge badge-neutral badge-sm">
                Score après-prolongation <span class="ml-2 font-semibold">Avec</span>
            </div>
        {% else %}
            <div class="badge badge-outline badge-sm">
                Score après-prolongation <span class="ml-2 font-semibold">Sans</span>
            </div>
        {% endif %}
    </div>
    </div>

    {#    Classement de la ligue#}
    <div class="mt-2 sm:mt-4">
        <table class="table table-xs sm:table-sm">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Joueur
                </th>
                <th>
                    Pronos
                </th>
                <th>
                    <span class="hidden sm:table-cell">Pronos</span>Justes
                </th>
                <th>
                    <span class="hidden sm:table-cell">Pronos</span>Parfaits
                </th>
                <th>
                    Points
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in league.league_details %}
                <tr class="{% if user.user_id == request.user.id %} font-bold {% endif %}">
                    <td>
                        {{ user.user_rank }}
                    </td>
                    <td>
                        {{ user.first_name|truncatechars:15 }}
                    </td>
                    <td>
                        {{ user.bet_exists_count }}
                    </td>
                    <td>
                        {{ user.bet_ok_count }}
                    </td>
                    <td>
                        {{ user.bet_perfect_count }}
                    </td>
                    <td>
                        {{ user.total_points |floatformat:0}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{#    Les prochains pronos#}
    <div class="flex flex-col mt-2 gap-2" id="bet-block">
        <div class="flex flex-col text-sm sm:text-base">
            {#            Predictions#}
            <div x-data="{
                predictions: {{ predictions_json }},
                results: {{ results_json }},
                user_id: {{ user_id }},
                statusFilter: 'upcoming',
                filteredPredictions: [],
                filteredResults: [],

                init() {
                    this.filterPredictions();
                },

                updateStatusFilter(status) {
                    this.statusFilter = status
                    this.filterPredictions()
                    this.filterResults()
                },

                filterResults() {
                    let filteredResults = [];

                    if (this.statusFilter === 'past') {
                        filteredResults = this.results;
                    }

                    this.filteredResults = filteredResults

                },

                filterPredictions() {
                    let filteredPredictions = this.predictions;

                    if (this.statusFilter === 'upcoming') {
                        filteredPredictions = filteredPredictions.filter(prediction => prediction.started === false)
                    }  if (this.statusFilter === 'todo') {
                        filteredPredictions = filteredPredictions.filter(prediction => prediction.todo === true)
                    } else if (this.statusFilter === 'past') {
                        filteredPredictions = []
                    }

                    this.filteredPredictions = filteredPredictions
                },
            }">
                <div class="flex">
                    <h3 class="mt-2 sm:mt-4 px-2 font-semibold">Tous mes pronos pour cette ligue</h3>
                </div>
                {#                Filtres: Compétition, Ligue, Statut#}
                <div class="flex items-center border rounded p-1 gap-2 m-1">
                    <div>
                        <i class="fa-solid fa-filter"></i>
                    </div>
                    <div class="flex flex-wrap gap-2 sm:gap-4 items-center">
                        <div class="join">
                            <button @click="updateStatusFilter('upcoming')" class="btn btn-sm join-item" :class="{ 'btn-active': statusFilter === 'upcoming' }">À venir</button>
                            <button @click="updateStatusFilter('todo')" class="btn btn-sm join-item" :class="{ 'btn-active': statusFilter === 'todo' }">À faire</button>
                            <button @click="updateStatusFilter('past')" class="btn btn-sm join-item" :class="{ 'btn-active': statusFilter === 'past' }">Passés</button>
                        </div>
                    </div>
                </div>
                <template x-for="p in predictions"
                          :key="p.id_temp"
                >
                    <div>
                        <template x-if="p.started === false">
                            <c-prediction></c-prediction>
                        </template>
                        <template x-if="p.started === true">
                            <c-prediction_past></c-prediction_past>
                        </template>
                    </div>
                </template>
                <template x-for="p in results">
                    <c-result></c-result>
                </template>
            </div>

        </div>
    </div>
    <div id="bets_toast" class="toast toast-end toast-top text-xs sm:text-sm">
    </div>
{% endblock main %}