<div class="flex flex-col gap-1 mb-1 sm:flex-row sm:mb-2">
    <div class="flex flex-col gap-1 bg-primary-content rounded p-1 mx-1 border border-primary sm:w-1/2 sm:p-2">
        <div class="badge badge-primary">
            <i class="fa-solid fa-trophy"></i>
            <span class="ml-2">Compétition</span>
        </div>
        <div class="font-bold">
            {% include 'bet/components/competition_team_activity_info.html' with activity_type=league.competition.activity_type only %}
            {{ league.competition }}
        </div>
    </div>
    <div class="flex flex-col gap-1 bg-secondary-content rounded p-1 mx-1 border border-secondary sm:w-1/2 sm:p-2">
        <div class="badge badge-secondary">
            <i class="fa-solid fa-meteor"></i>
            <span class="ml-2">Ligue</span>
        </div>
        <div class="font-bold">
            {{ league }}
        </div>
        <div>
            Bonus "Enjeu":  {% if league.bonus_stake == 1 %}Activé{% else %}Désactivé{% endif %}
        </div>
        <div>
            Bonus "Parfait": {% if league.bonus_perfect == 0 %}Désactivé{% else %}{{ league.bonus_perfect }} points{% endif %}
        </div>
        <div>
            Score après-prolongation: {% if league.with_ext == 1 %}Activé{% else %}Désactivé{% endif %}
        </div>
    </div>
</div>