<div x-data class="flex flex-col text-sm sm:text-base">
    {#    Header        #}
    <div class="p-2 flex font-bold border-b-2">
        <div class="w-20">
            <div class="flex flex-row gap-0.5 items-center">
                <div class="badge badge-primary badge-sm">
                    <i class="fa-solid fa-trophy"></i>
                </div>
                <span>/</span>
                <div class="badge badge-secondary badge-sm">
                    <i class="fa-solid fa-meteor"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-grow justify-center">
            Ligue
        </div>
        <div class="w-16 sm:w-24"></div>
    </div>
    {% for l in leagues %}
        <div x-disclosure class="p-1 border-b">
            {#        Ranking Summary#}
            <div x-disclosure:button class="" :class="$disclosure.isOpen && 'bg-base-200'">
                <div class="flex">
                    <div class="w-20 p-1 flex flex-col justify-center gap-0.5">
                        <span class="badge badge-primary">
                            {{ l.competition.sn}}
                        </span>
                        <span class="badge badge-secondary">
                            {{ l.sn }}
                        </span>
                    </div>
                    <div class="flex flex-grow items-center">{{ l.name }}</div>
                    <div class="p-1 flex items-center gap-1 sm:flex-row sm:gap-2 ">
                        <button @click.stop class="btn btn-square btn-xs btn-neutral sm:btn-sm" type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                        <span x-show="$disclosure.isOpen" x-cloak aria-hidden="true" >
                            <i class="fa-solid fa-chevron-up"></i>
                        </span>
                        <span x-show="! $disclosure.isOpen" aria-hidden="true" >
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>
                </div>
            </div>
{#            League details#}
            <div x-disclosure:panel x-collapse class="flex flex-col gap-1 bg-base-200">
                <div class="flex flex-col p-1 bg-base-200">
                    <div class="flex flex-col gap-1 mb-1 sm:flex-row sm:mb-2">
                        <div class="flex flex-col gap-1 bg-primary-content rounded p-1 mx-1 border border-primary sm:w-1/2 sm:p-2">
                            <div class="badge badge-primary">
                                <i class="fa-solid fa-trophy"></i>
                                <span class="ml-2">Compétition</span>
                            </div>
                            <div class="font-bold">
                                {{ l.competition }}
                            </div>
                        </div>
                        <div class="flex flex-col gap-1 bg-secondary-content rounded p-1 mx-1 border border-secondary sm:w-1/2 sm:p-2">
                            <div class="badge badge-secondary">
                                <i class="fa-solid fa-meteor"></i>
                                <span class="ml-2">Ligue</span>
                            </div>
                            <div class="font-bold">
                                {{ l }}
                            </div>
                            <div>
                                Bonus "Enjeu": {{ l.bonus_stake }}
                            </div>
                            <div>
                                Bonus "Parfait": {{ l.bonus_perfect }}
                            </div>
                            <div>
                                Score après-prolongation: {{ l.with_ext }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>