<div x-data class="flex flex-col text-sm sm:text-base">
    {#    Header        #}
    <div class="p-2 flex font-bold border-b-2">
        <div class="w-20">
            <div class="flex flex-row gap-0.5 items-center">
                <div class="badge badge-primary badge-sm">
                    <i class="fa-solid fa-trophy"></i>
                </div>
                <span>/</span>
                <div class="badge badge-secondary badge-sm">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-grow justify-center">
            Ligue
        </div>
        <div class="w-16 sm:w-24"></div>
    </div>
    {% for l in leagues %}
        <div x-disclosure class="p-1 border-b">
            {#        League Summary#}
            {% include 'bet/components/league_summary_table.html' with l=l %}
            {#            League details#}
            <div x-cloak x-disclosure:panel x-collapse class="flex flex-col gap-1 bg-base-200">
                <div class="flex flex-col p-1 bg-base-200">
                    {% include 'bet/components/competition_league_minicards.html' with league=l only %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>